<div class="mainWindow">
  <mat-grid-list cols="2" rowHeight="250px" style="background-color: black;">
    <mat-grid-tile>
      <div>
        <img class="smashLogo" src="../assets/sma5hed_logo.png" alt="Smash Logo"/>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label style="color: purple;">Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label style="color: purple;">Password</mat-label>
          <input matInput type="password" color="purple">
        </mat-form-field>
        <div style="text-align: center;">
            <button mat-button>Login</button>
            <div class="divider"></div>
            <button mat-button>Register</button>
            <div class="divider"></div>
            <button mat-button>About</button>
        </div>        
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>

